---
import BaseLayout from './BaseLayout.astro';
const { title, date, summary, tags, categories } = Astro.props.content;
const meta = {
  description: summary ?? title,
};
---

<BaseLayout title={title} meta={meta}>
  <section class="heading">
    <h1 class="title">{title}</h1>
    <small>
      <time datetime={date}>
        {new Intl.DateTimeFormat('en-US', {
          year: 'numeric',
          month: 'long',
          day: '2-digit',
        }).format(new Date(date))}
      </time>
    </small>
  </section>
  <article>
    <slot />
  </article>
  <aside>
    {tags && tags.length > 0 && (
      <p>
      <span>Tags:&nbsp;</span>
        {tags.map((tag, i) => (
          <a href={`/tags/${tag}`}><code>#{tag}</code></a>
          <span>{i < tags.length - 1 && ', '}</span>
        ))}
      </p>
    )}
    {categories && categories.length > 0 && (
      <p>
      <span>Categories:&nbsp;</span>
        {categories.map((category, i) => (
          <a href={`/categories/${category}`}><code>{category}</code></a>
          <span>{i < categories.length - 1 && ', '}</span>
        ))}
        </p>
    )}
  </aside>
</BaseLayout>

<style lang="scss" global>
  @use 'sass:list';
  @import '../styles/markdown.scss';
  h1.title {
    margin-bottom: 0;
  }
  aside {
    dl {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      dd {
        margin-left: 0;
      }
      dt:not(:last-child)::after {
        content: ', ';
        margin-right: 1ch;
      }
    }
  }
</style>
