---
import BaseLayout from './BaseLayout.astro';
const { title, date, summary, tags, categories } = Astro.props.content;
const meta = {
  description: summary ?? title,
};
---

<BaseLayout {title} {meta}>
  <section class="heading">
    <h1 class="title">{title}</h1>
    <small>
      <time datetime={date}>
        {new Intl.DateTimeFormat('en-US', {
          year: 'numeric',
          month: 'long',
          day: '2-digit',
        }).format(new Date(date))}
      </time>
    </small>
  </section>
  <article>
    <slot />
  </article>
  <aside>
    {tags && tags.length > 0 && (
      <dl class="tags">
        <dd>Tags: &nbsp;</dd>
        {tags.map((tag) => (
          <dt>
            <code>#{tag}</code>
          </dt>
        ))}
      </dl>
    )}
    {categories && categories.length > 0 && (
      <dl class="categories">
        <dd>Categories: &nbsp;</dd>
        {categories.map((category) => (
          <dt>
            <code>{category}</code>
          </dt>
        ))}
      </dl>
    )}
  </aside>
</BaseLayout>

<style lang="scss" global>
  @use 'sass:list';
  h1.title {
    margin-bottom: 0;
  }
  article {
    max-width: 60ch;
    pre {
      overflow-x: auto;
      padding: 1rem;
    }
    .icon-link {
      opacity: 0;
      margin-left: 0.5ch;
    }
    $headings: (h1, h2, h3, h4, h5, h6);
    @each $heading in $headings {
      #{$heading}:hover .icon-link {
        opacity: 1;
      }
    }
  }
  aside {
    dl {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      dd {
        margin-left: 0;
      }
      dt:not(:last-child)::after {
        content: ', ';
        margin-right: 1ch;
      }
    }
  }
</style>
